<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Agent-global.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>43</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
				<key>dateExpires</key>
				<string>2025/4/17</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiEchoCancellationExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiEchoCancellationLLExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiNoiseSuppressionExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiNoiseSuppressionLLExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAudioBeautyExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraClearVisionExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraContentInspectExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraFaceCaptureExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraFaceDetectionExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraLipSyncExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraReplayKitExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSoundTouch.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSpatialAudioExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoAv1DecoderExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoAv1EncoderExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoDecoderExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoEncoderExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoQualityAnalyzerExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoSegmentationExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Agorafdkaac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Agoraffmpeg.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwifterSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyBeaver.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>aosl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.3.82</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>video_dec.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.82</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.3.60</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B941B7B32E8BD105F95AAAA66F6631BCE6BBB06</string>
						<key>dateExpires</key>
						<string>2025/4/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>video_enc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48TB6ZZL5S</string>
						<key>name</key>
						<string>Agora Lab, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.60</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>48TB6ZZL5S.io.agora.convoai</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>48TB6ZZL5S</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Agent-global.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e2c411c7-c5ff-4e19-8546-735baffa9ffe</string>
				<key>dateExpires</key>
				<string>2025/4/17</string>
				<key>name</key>
				<string>convoai_appstore</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>48TB6ZZL5S</string>
				<key>name</key>
				<string>Agora Lab, Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
